/* ToggleA.module.scss */
.ToggleA {
    display: inline-block;
    width: var(--box-25);
    min-width: var(--box-25);
    height: var(--box-25);

    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: #999;
    }

    &.Active {
        background-color: var(--color, var(--primary-color));
        border: none;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%) rotate(45deg);

            width: 6px;
            height: var(--box-10);
            border: solid #fff;
            border-width: 0 2px 2px 0;
        }
    }
}
