.InputA {
    width: fit-content;
    padding: var(--padding-y) var(--padding-x);
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;

    &.Sm {
        padding: var(--space-15) var(--space-25);
        font-size: var(--font-14);
    }
    &.Md {
        padding: var(--space-20) var(--space-30);
        font-size: var(--font-15);
    }
    &.Lg {
        padding: var(--space-25) var(--space-40);
        font-size: var(--font-16);
    }

    &.Full {
        width: 100%;
    }
}
