.Cell {
    // border: 1px solid #eaeaea;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 1px solid #e2e2e2; // 나중에 삭제
    background-color: var(--background);

    width: var(--cell-width);
    min-width: var(--cell-width);
    max-width: var(--cell-width);
    overflow: hidden;

    // .Content {
    //     display: flex; /* block 요소로 명시 (table-cell 내부 div는 기본 block 이지만 명시적용 권장) */
    //     align-items: center;
    //     justify-content: center;

    //     height: var(--box-40);
    //     padding: 0 var(--space-15);
    //     font-size: var(--font-14);
    //     box-sizing: border-box;
    // }

    &.Left {
        text-align: left;
    }
    &.Center {
        text-align: center;
    }
    &.Right {
        text-align: right;
    }
    &.AsHeader {
        // background: var(--base-color-senary);
        font-weight: 500;
        color: #161616;
    }
    &.Editable {
        outline: none;
    }
    // &.Fixed {
    //     width: var(--cell-width);
    //     min-width: var(--cell-width);
    //     white-space: normal;
    //     overflow-wrap: break-word; // 긴 단어가 넘칠 경우 줄바꿈 처리
    //     word-break: break-all;
    // }

    // input {
    //     all: unset; /* 모든 기본 스타일 제거 (border, padding, outline 등) */
    //     width: 100%; /* 부모 요소를 가득 채우도록 */
    //     font: inherit; /* 주변 텍스트와 동일한 글꼴 사용 */
    //     color: inherit; /* 부모 요소의 글자색을 따름 */
    //     text-align: inherit; /* 정렬 방식도 상속 */
    //     background: transparent; /* 배경 투명 */
    //     cursor: text; /* 일반 텍스트처럼 보이게 */
    // }
}

// .basic-table-cell:focus {
//     outline: none;
// }
