.ButtonB {
    width: var(--width, fit-content);
    height: var(--height);
    border-radius: 8px;
    color: var(--text-color, #fff);
    cursor: pointer;
    background-color: var(--background-color, var(--primary-color));
    border: none;
    word-break: keep-all;

    padding: var(--padding);
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: 0;

    &.Xxs {
        padding: var(--space-7) var(--space-10);
        font-size: var(--font-14);
    }

    &.Xs {
        padding: var(--space-10) var(--space-15);
        font-size: var(--font-16);
    }

    &.Sm {
        padding: var(--space-15) var(--space-25);
        font-size: var(--font-18);
    }
    &.Md {
        padding: var(--space-20) var(--space-30);
        font-size: var(--font-20);
    }
    &.Lg {
        padding: var(--space-25) var(--space-40);
        font-size: var(--font-22);
    }
    &.Full {
        width: 100%;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
