.AccordionF {
}

.Button {
    background-color: inherit;
    text-align: left;
    width: 100%;
    padding: var(--space-20) var(--space-25);

    cursor: pointer;

    position: relative;

    .Absolute {
        position: absolute;
        top: 50%;
        right: var(--space-20);
        /* 요소 자신의 크기의 절반만큼 되돌리기 */
        transform: translateY(-50%);
    }
}

.Box {
    border-radius: 12px;
    border: 1px solid #e2e2e2;
}

.Hidden {
    transition: all 0.3s ease-out, /* 높이 애니메이션 */ opacity 0.2s ease-out; /* 투명도 애니메이션 */
}
