.Item_G {
    border: none;
    color: #383838;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // &.Outlined {
    //     border: 1px solid #e2e2e2;
    // }

    height: 100%;

    &.Active {
        background-color: var(--color, var(--primary-color));
        color: #fff;
        font-weight: 600;
    }

    &:first-child {
        border-radius: 30px;
        // border-bottom-left-radius: 8px;
    }

    //  3) 마지막 아이템 오른쪽 모서리 둥글게
    &:last-child {
        border-radius: 30px;
        // border-top-right-radius: 30px;
        // border-bottom-right-radius: 30px;
    }
}
