.Item {
    border: 1px solid #e2e2e2;
    color: var(--color, #474747);
    background-color: var(--background-color, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;

    // width: 100%;
    font-size: var(--font-size, --font-12);
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    white-space: nowrap;

    &.Active {
        background-color: var(--active-background-color, var(--primary-color));
        color: #fff;
        // font-weight: 600;
        border: none;
    }

    &.Disabled {
        background-color: var(--disabled-background-color, #f0f0f0);
        color: var(--disabled-color, #e2e2e2);
    }

    &.Xxs {
        height: var(--box-20);
        padding: var(--space-7) var(--space-10);
        font-size: var(--font-12);
    }

    &.Xs {
        height: var(--box-30);
        padding: var(--space-10) var(--space-15);
        font-size: var(--font-16);
    }
    &.Sm {
        font-size: var(--font-18);
        height: var(--box-40);
        padding: var(--space-15) var(--space-25);
    }
    &.Md {
        font-size: var(--font-20);
        height: var(--box-50);
        padding: var(--space-20) var(--space-30);
    }
    &.Lg {
        height: var(--box-60);
        padding: var(--space-25) var(--space-40);
        font-size: var(--font-22);
    }
}
