.Visible {
    background-color: inherit;
    text-align: left;
    width: 100%;
    padding: var(--space-20) var(--space-25);
    color: #383838;
    font-weight: 500;

    cursor: pointer;

    position: relative;

    .Absolute {
        position: absolute;
        top: 50%;
        right: var(--space-20);
        /* 요소 자신의 크기의 절반만큼 되돌리기 */
        transform: translateY(-50%);
    }
    border: none;
}
