/* CalendarA.module.scss */

.wrapper {
    display: flex;
    justify-content: center;
}

.calendarRoot {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid #e88731;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard', sans-serif;
    width: 320px;
}

.month {
    width: 100%;
}

.caption {
    background-color: red;
}

.nav {
    background-color: #60a5fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    // background: transparent;
    // border: none;
    // font-size: 1rem;
    // cursor: pointer;
    display: none;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.head_row,
.row {
    display: table-row;
}

.head_cell,
.cell {
    text-align: center;
    padding: 0.25rem;
    font-size: 0.875rem;
}

.head_cell {
    color: #888;
}

.head_cell:first-child {
    color: #f87171;
}

.head_cell:last-child {
    color: #60a5fa;
}

.day {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.day:hover {
    background-color: #f3f4f6;
}

.day_selected {
    background-color: #f97316;
    color: white;
}

.day_today {
    background-color: #fcd9b6;
    color: black;
}

.legend {
    margin-top: 0.8rem;
    font-size: 0.75rem;
    color: #666;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dotToday,
.dotSelected {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 4px;
}

.dotToday {
    background-color: #fcd9b6;
}

.dotSelected {
    background-color: #f97316;
}
