.SwiperB {
}

.Button {
    width: var(--box-55);
    height: var(--box-55);
    border-radius: 50%;
    background-color: #fff;

    font-size: var(--font-24);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
    &:hover {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
    }

    &.Icon {
        &:hover {
            color: #fff;
        }
    }
}

.Prev {
    top: 50%;
    transform: translateY(-50%);
    left: var(--space-20);
}

.Next {
    top: 50%;
    transform: translateY(-50%);
    right: var(--space-20);
}

.ButtonWrapper {
    padding-top: var(--space-45);
    display: flex;
    justify-content: end;
    gap: var(--space-15);
}
