.Prev {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    border: 1px solid #a6a6a6;
    cursor: pointer;
}
.Next {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
}
