.Content {
    // background-color: red;
    // height: var(--box-40);
    display: flex;
    align-items: center;
    height: var(--box-40);
    padding: 0 var(--space-15);
    font-size: var(--font-14);
    box-sizing: border-box;

    &.Left {
        text-align: left;
    }
    &.Center {
        text-align: center;
    }
    &.Right {
        text-align: right;
    }
}
