.Content {
    // background-color: red;
    // height: var(--box-40);
    display: flex;
    justify-content: var(--align);
    align-items: center;
    width: var(--width, auto);
    max-width: var(--width, auto); // 혹시 width가 auto일 때도 제한

    height: var(--box-40);
    padding: 0 var(--space-15);
    font-size: var(--font-14);
    box-sizing: border-box;

    &.Left {
        text-align: left;
    }
    &.Center {
        text-align: center;
    }
    &.Right {
        text-align: right;
    }
}
