.MobileItem {
    flex: var(--flex);
    justify-content: var(--justify-content);
    align-items: var(--align-items);

    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}
