// @import 'theme';

.Header {
    background: #fff;
    height: var(--box-40);
    text-align: left;
    // padding: ;
    // box-sizing: border-box;
    font-size: var(--font-13);
    color: var(--base-color-tertiary);
}
