.Box {
    position: relative;

    width: var(--width, 100%);
    height: var(--height, auto);
    border-top-left-radius: var(--border-top-left-radius);
    border-top-right-radius: var(--border-top-right-radius);
    border-bottom-left-radius: var(--border-bottom-left-radius);
    border-bottom-right-radius: var(--border-bottom-right-radius);
    background-color: var(--background-color);

    padding: var(--padding);
    box-sizing: border-box;

    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: var(--border-weight) solid var(--border-color);
    &.Shadow {
        box-shadow: 4px 4px 26px 0px #1f100326;
    }
}
