.ButtonV {
    width: fit-content;
    border-radius: var(--radius);
    color: var(--color);
    background-color: #fff;
    border: 1px solid var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.Sm {
        width: var(--space-25);
        height: var(--space-25);
        font-size: var(--font-15);
    }
    &.Md {
        width: var(--space-30);
        height: var(--space-30);
        font-size: var(--font-20);
    }
    &.Lg {
        width: var(--space-35);
        height: var(--space-35);
        font-size: var(--font-22);
    }
    &.Full {
        width: 100%;
    }
}
