/* Block: basic-select-trigger */
.Trigger {
    width: auto;
    height: var(--box-35);
    text-align: left;
    border: none;
    background-color: inherit;

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--font-15);
    color: #474747;
}

.Icon {
    font-size: var(--font-20);
}
