/* Block: layout */
.LayoutA {
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
    // grid-template-columns: clamp(30%, 20%, 292px) 1fr;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    // min-width: 1024px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;

    @media (max-width: 1280px) {
        // grid-template-columns: auto 1fr;
    }
}
