/* Item.module.scss */
.Item {
    position: relative; /* ::after 위치 기준 */
    width: var(--box-25);
    height: var(--box-25);
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;

    &.Active {
        border: 1px solid var(--color);

        &::after {
            content: ''; // pseudo-element를 보여주기 위한 필수 속성
            display: block; // 블록 수준 요소로 렌더링
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            height: 65%;
            border-radius: 50%;
            background-color: var(--color);
            transform: translate(-50%, -50%);
        }
    }
}
