.Wrapper {
    width: var(--width);
    height: var(--height);
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-30);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    border: var(--border-weight) solid var(--border-color);
    @media (max-width: 768px) {
        width: calc(var(--width) / 1.2);
        height: calc(var(--height) / 1.2);
    }
}
.Number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--number-Background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-15);
    img {
        width: 150px;
        height: 150px;
    }
}
