/* Text.module.scss */
.Text {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color, var(--text-color));
    text-align: var(--text-align);
    text-decoration: var(--text-decoration);
    line-height: var(--line-height);
    word-break: var(--word-break);

    &.Line {
        display: -webkit-box; // flex-box와 비슷하게 작동하는 구형 웹킷 박스 모델 사용
        -webkit-box-orient: vertical; // 박스의 방향을 수직으로 설정
        overflow: hidden; // 내용이 넘칠 경우 숨김
        text-overflow: ellipsis; // 넘치는 텍스트에 ... 처리
        -webkit-line-clamp: var(--line);
    }
}
