/* Block: basic-select, Element: content */
.Content {
    height: auto;
    width: auto;
    padding: var(--space-7) 0;

    background-color: var(--base-color-secondary);
    position: absolute;
    left: 0;
    top: calc(100% + var(--space-7));
    list-style: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.08), 0px 8px 32px 0px rgba(19, 10, 46, 0.07),
        0px 3px 14px 0px rgba(19, 10, 46, 0.03), 0px 1px 3px 0px rgba(19, 10, 46, 0.13);
    z-index: 500;

    &.Open {
        transition: opacity 400ms, transform 400ms;
    }

    &.Close {
        transition: opacity 400ms, transform 400ms;
    }
}
