.Top {
    display: flex;
    align-items: center;

    width: 100%;
    // height: auto;
    padding: 16px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--base-color-quaternary);

    background-color: var(--base-color-septenary);

    // &.Hidden {
    //     display: none;
    // }
}
