/* Wrapper div */
/* 📌 테이블 전체 래퍼 */
.TableAWrapper {
    // width: 100%;
    // height: 100%;
    // border: 1px solid var(--base-color-quaternary);
    // border-radius: var(--border-radius);
    // background: var(--base-color-secondary);
    width: 100%;
    overflow-x: auto;
}

.TableA {
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
}
