.Row {
    // border-radius: var(--border-radius);
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    background-color: var(--background-color);
    // height: var(--box-35);

    // &:nth-of-type(odd) {
    //     background-color: #fbfbfb;
    // }
}
