.container {
    background: var(--bgColor);
    box-shadow: var(--box-shadow, none);
    border-radius: 100px;
    border: var(--borderWeight) solid var(--borderColor);
}
.blockLink {
    text-decoration: none;
}
