.Item {
    flex: var(--flex);
    width: var(--width, auto);
    height: var(--height, auto);

    &.Mobile {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &.Desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.Common {
        @media (max-width: 768px) {
            align-self: stretch;
        }
    }

    &.Tablet {
        // tablet 전용 (<=1024px) stretch
        @media (max-width: 1024px) {
            align-self: stretch;
        }
    }
}
