.Area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-20);
    // background-color: #fff;

    .Icon {
        width: var(--box-75);
        height: var(--box-75);
        color: var(--primary-color);
    }

    .Head {
        font-size: var(--font-24);
        font-weight: 600;
        color: var(--base-color-primary);
    }

    .Sub {
        font-size: var(--font-15);
        color: var(--base-color-primary);
        text-align: center;
        line-height: 1.8;

        span {
            color: var(--primary-color);
            font-weight: 600;
        }
    }
}
