.Content {
    // position: absolute;
    // top: calc(100% + var(--space-7));
    // left: 50%;
    // transform: translateX(-50%);
    padding: var(--space-7) var(--space-15);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    background-color: var(--background-color, var(--color, var(--primary-color)));
    border-color: var(--border-color, var(--color, var(--primary-color)));
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 4px);
    color: #fff;

    &.Top {
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: var(--color, var(--primary-color)) transparent transparent transparent;
            /* 아래 방향 삼각형 */
        }
    }

    &.Bottom {
        &::before {
            content: '';
            position: absolute;
            bottom: 100%; /* 툴팁 상단 바깥쪽 */
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent var(--color, var(--primary-color)) transparent;
            /* 위 방향 삼각형 */
        }
    }

    &.Left {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%; // 🔴 오른쪽 바깥쪽에 화살표
            transform: translateY(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent transparent var(--color, var(--primary-color));
        }
    }

    &.Right {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 100%; // 🔴 왼쪽 바깥쪽에 화살표
            transform: translateY(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: transparent var(--color, var(--primary-color)) transparent transparent;
        }
    }
}
