.ButtonD {
    width: fit-content;
    border-radius: 45px;
    color: var(--color, var(--primary-color));
    border: 1px solid var(--color, var(--primary-color));
    background-color: inherit;

    cursor: pointer;

    &.Sm {
        padding: var(--space-15) var(--space-25);
        font-size: var(--font-18);
    }
    &.Md {
        padding: var(--space-20) var(--space-30);
        font-size: var(--font-20);
    }
    &.Lg {
        padding: var(--space-25) var(--space-35);
        font-size: var(--font-22);
    }
    &.Full {
        width: 100%;
    }
}
