.ButtonT {
    width: fit-content;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    color: var(--color);
    border: 1px solid var(--color);
    background-color: #fff;

    cursor: pointer;

    &:hover {
        background-color: var(--hover-color, none);
        border: 1px solid var(--hover-color, var(--color));
    }

    &.Sm {
        width: var(--box-40);
        font-size: var(--font-18);
    }
    &.Md {
        width: var(--box-50);
        font-size: var(--font-20);
    }
    &.Lg {
        width: var(--box-60);
        font-size: var(--font-22);
    }
}
